@font-face {
    font-family: 'heebomedium';
    src: url('../fonts/heebo-medium-webfont.eot');
    src: url('../fonts/heebo-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-medium-webfont.woff2') format('woff2'),
    url('../fonts/heebo-medium-webfont.woff') format('woff'),
    url('../fonts/heebo-medium-webfont.ttf') format('truetype'),
    url('../fonts/heebo-medium-webfont.svg#heebomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heebobold';
    src: url('../fonts/heebo-bold-webfont.eot');
    src: url('../fonts/heebo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-bold-webfont.woff2') format('woff2'),
    url('../fonts/heebo-bold-webfont.woff') format('woff'),
    url('../fonts/heebo-bold-webfont.ttf') format('truetype'),
    url('../fonts/heebo-bold-webfont.svg#heebobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heeboregular';
    src: url('../fonts/heebo-regular-webfont.eot');
    src: url('../fonts/heebo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-regular-webfont.woff2') format('woff2'),
    url('../fonts/heebo-regular-webfont.woff') format('woff'),
    url('../fonts/heebo-regular-webfont.ttf') format('truetype'),
    url('../fonts/heebo-regular-webfont.svg#heeboregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
}
header{
    padding-top: 27px;
}
.container{
    max-width: 1032px;
    margin: auto;
}
#navigation{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
header nav ul li{
    margin-left: 33px;
}
header nav ul li a{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    text-decoration: none;
    color: #000000;
}
.main_banner {
    padding-top: 140px;
    padding-bottom: 40px;
}
.main_banner h1 {
    font-family: 'heeboextrabold';
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}
.main_banner a {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    padding-left: 21px;
    padding-right: 20px;
    font-style: normal;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration:none;
    padding-top: 9px;
    padding-bottom: 17px;
    max-width: 208px;
    max-height: 47px;
    background: #FF6464;
    border-radius: 2px;
    display: inline-block;
}
.main_banner p {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 47px;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
.sub_container {
    max-width: 858px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.main_image {
    max-width: 243px;
}
.main_image img {
    width: 100%;
    display: block;
}
.d-flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
header nav ul li:hover {
    transform: scale(1.3);
    transition: 0.3s;
}
.main_banner a:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}
/*Recent posts*/

.post {
    padding-top: 7px;
    padding-bottom: 32px;
    background-color: #EDF7FA;
}

.first_post {
    margin: auto;
    max-width: 856px;
}

.posts {
    display: flex;
    justify-content: space-between;
}

.posts h4 {
    align-items: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    font-family: 'heeboregular';
}

.posts a {
    text-decoration: none;
    margin-top: 27px;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
    font-family: 'heeboregular';
}

.making_design {
    display: flex;
    justify-content: space-between;
}

.design_system {
    max-width: 418px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 24px 21px 30px 23px;
    box-sizing: border-box;
}

.design_system h4 {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin-bottom: 17px;
    font-family: 'heebobold';
}

.design_system span {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    font-family: 'heeboregular';
}

.design_figma {
    margin-left: 25px;
}

.design_figma:before {
    border-left: 1px solid #000000;
    content: "";
    padding-left: 25px;
    width: 1px;
    height: 21px;
}

.design_system p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    max-width: 368px;
    margin-top: 11px;
    font-family: 'heeboregular';
}

/*Featured works*/

.featured_works {
    padding-top: 15px;
    padding-bottom: 32px;
}

.featured_container {
    max-width: 858px;
    margin: auto;
}

.feature {
    margin-bottom: 22px;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    font-family: 'heeboregular';
}

.vibrant_portraits_a {
    width: 100%;
    max-width: 246px;
}

.vibrant_portraits_a img {
    display: block;
}

.vibrant_portraits_a article {
    max-width: 594px;
}


.designing_dashboards {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.art {
    margin-left: 18px
}

.designing {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 44px;
    line-height: 100%;
    text-align: Left;
    color: #21243D;
    font-family: 'heeboregular';
}

.year {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    margin-right: 36px;
    background-color: #142850;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-radius: 20px;
    font-family: 'heebobold';
}

.dashboard {
    font-size: 20px;
    line-height: 100%;
    color: #8695A4;
    font-family: 'heeboregular';
}

.designing_dashboards p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #21243D;
    font-family: 'heeboregular';
}
    /*Form*/
.main_form {
    padding: 69px 0 37px;
    background: black;
    margin: auto;
}
.main_form div {
    max-width: 564px;
    margin: auto;
    text-align: center;
}
.input_name{
    width: 100%; box-sizing: border-box;
    border: none;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: left;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 31px;
    color: #FFFFFF; background: rgba(255, 255, 255, 0.18);
}
.input_email {
    width: 100%;
    box-sizing: border-box;
    border: none;
    display: block;
    padding: 18px 31px 17px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0px;
    width: 564px;
    height: 57px;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 57px;
    color: #FFFFFF;
}
.input_budget {
    width: 100%;
    box-sizing: border-box;
    border: none;
    display: block;
    margin: 0;
    padding: 18px 31px 17px 31px;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 0px;
    width: 564px;
    height: 57px;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 57px;
    color: #FFFFFF;
}
.textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px;
    border: none;
    display: block;
    margin: 0;
    padding: 18px 31px 17px 31px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0px;
    width: 564px;
    height: 127px;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
.button {
    padding: 15px 60px 15.95px;
    box-sizing: border-box;
    background-color: black;
    border: solid 1px #7EC4BD;
    margin-top: 21.95px;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #8BCAC3;
}
.footer {
    padding: 55px 0;
}
.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer_item {
    display: flex;
    gap: 35px;
    margin: 0 0 25px 0;
}
.footer_text {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
}